---
---

@import '_common';

.nav {
	color: $color-font-darker;
	
	.nav__item {
		color: inherit;
		//color: rgba(255,255,255,0.9);
		transition: color 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
		
		&:hover {
			color: lighten($color-font-darker, 16.0);
			//color: rgba(255,255,255,1.0);
		}
		&:active {
			//color: rgba(255,255,255,0.85)
		}
	}
}

.welcometext {
	margin: 0;
	margin-top: 4rem;
	overflow: auto;
	
	h2 {
		margin-top: 0;
	}
}

hr {
	margin: 2rem;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	
	border: 0;
	border-top: 1px solid $color-font-lighter;
}

.postlist {
	margin-top: 4rem;
	margin-bottom: 3rem;
}

article.postlistentry {
	margin-bottom: 2rem;
	
	header {
		position: relative;
		margin-bottom: 0.75rem;
		
		a.postlistentry__title {
			h2 {
				margin: 0;
				line-height: 1.2;
			}
		}
		time {
			color: #adb2b8;
		}
		
		div.postlistentry__colorswatch {
			position: absolute;
			
			width: 0.625rem;
			height: 0.625rem;
			top: 0.9em;
			left: -0.8rem;
			transform: translate(-50%,-50%);
			
			background: #5277b7;
			border-radius: 50%;
		}
	}
	
	main {
		:first-child {
			margin-top: 0;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: font-rems(1.2);
		}
	}
}

.footer {
	
}
