---
---

@import '_common';
@import '_common-nav-dark';

.welcometext {
	margin: 0;
	margin-top: 8rem;
	margin-bottom: 10rem;
	overflow: auto;
	
	h1 {
		margin: 0;
		
		font-size: font-rems(3.0);
		color: $color-font-lighter;
		
		a {
			color: inherit;
		}
		
		span.welcometext-url__protocol {
			color: #3fa961;
			//color: #0B8043;
		}
		span.welcometext-url__domain {
			color: $color-font-darker;
		}
		span.welcometext-url__delimiter {
			color: inherit;
		}
	}
	
	p.welcometext__tagline {
		margin: 0;
		
		color: $color-font-lighter;
		font-size: font-rems(1.1);
	}
}

hr {
	margin: 2rem;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	
	border: 0;
	border-top: 1px solid $color-font-lighter;
}

.postlist {
	//margin-top: 4rem;
	margin-bottom: 3rem;
}

article.postlistentry {
	margin-bottom: 2rem;
	
	header {
		position: relative;
		margin-bottom: 0.75rem;
		
		a.postlistentry__title {
			h2 {
				margin: 0;
				line-height: 1.2;
			}
		}
		time {
			color: #adb2b8;
		}
		
		div.postlistentry__colorswatch {
			position: absolute;
			
			width: 0.625rem;
			height: 0.625rem;
			top: 0.9em;
			left: -0.8rem;
			transform: translate(-50%,-50%);
			
			background: #5277b7;
			border-radius: 50%;
		}
	}
	
	main {
		:first-child {
			margin-top: 0;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: font-rems(1.2);
		}
	}
}

.footer {
	
}
