html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;
  line-height: 1.5;
  font-size: 1rem;
  overflow: auto;
  /*
  // anti scrollbar layout nudge trick (https://aykevl.nl/2014/09/fix-jumping-scrollbar)
  @media screen and (min-width: $wrap-width-default + (2 * $wrap-sidemargin-default)) {
  	min-width: 100vw;
  	//overflow-x: hidden;
  }
  */ }

body {
  position: relative;
  /* needed for height 100% to work properly */
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: visible;
  font-size: 1.05rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.024em;
  color: #656d77;
  background: #fefefe; }

.site-padding {
  padding: 0 20px; }

/*
main > wrap {
	overflow: auto; // collapsing margin fix
	//overflow: visible;
	padding: 0 $wrap-sidemargin-default;
}
*/
.wrap {
  width: 760px;
  height: 100%;
  margin: 0 auto; }

/** --- custom scrollbar --- */
::-webkit-scrollbar {
  width: 22px;
  height: 22px; }

::-webkit-scrollbar-track {
  border: 8px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  min-height: 16px;
  min-width: 16px;
  border: 8px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.175); }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

/** --- default element styles --- */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.4px;
  color: #515a61; }

p, figure {
  margin: 1rem 0; }

a {
  text-decoration-skip: ink; }
  a:link {
    color: #5499f1;
    text-decoration: none; }
  a:visited {
    color: #5499f1; }
  a:hover {
    color: #84baff; }

li::marker {
  /* still unsupported everywhere :( */
  color: #adb2b8; }

/*
table {
	background: #f2f2f3;
	border: 1px solid #d9e2e8;
	border-radius: 2px;
}
*/
::selection {
  background: #f2f2f3; }

/** --- end default element styles --- */
/** common navbar */
.nav {
  height: 4rem;
  padding: 0 1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0; }
  .nav .wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box; }
  .nav .nav__item {
    margin: 0 0.1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none; }
  .nav .nav__item--home {
    margin: 0 0.6rem;
    padding: 0;
    display: inline-block;
    position: relative;
    content: "";
    margin-right: auto;
    width: 2rem;
    height: 2rem;
    font-size: 0;
    background: currentColor;
    border-radius: 50%; }

/** common footer */
.footer, .footer-pusher {
  height: 4rem; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer .wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center; }
  .footer .footer__item {
    margin: auto; }

/** Inline code highlighter */
code.highlighter-rouge {
  padding: 0 0.3em;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9975rem;
  font-weight: normal;
  font-style: normal;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }

/** Block code highlighter */
figure.highlight, div.highlighter-rouge {
  position: relative;
  margin: 1rem 0;
  font-size: 0.9975rem;
  line-height: 1.15rem;
  font-weight: normal;
  font-style: normal;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }
  figure.highlight pre, div.highlighter-rouge pre {
    margin: 0;
    padding: 1rem;
    font-family: 'Inconsolata', monospace; }

.nav {
  color: #515a61; }
  .nav .nav__item {
    color: inherit;
    transition: color 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */ }
    .nav .nav__item:hover {
      color: #77838d; }

.welcometext {
  margin: 0;
  margin-top: 8rem;
  margin-bottom: 10rem;
  overflow: auto; }
  .welcometext h1 {
    margin: 0;
    font-size: 3.15rem;
    color: #adb2b8; }
    .welcometext h1 a {
      color: inherit; }
    .welcometext h1 span.welcometext-url__protocol {
      color: #3fa961; }
    .welcometext h1 span.welcometext-url__domain {
      color: #515a61; }
    .welcometext h1 span.welcometext-url__delimiter {
      color: inherit; }
  .welcometext p.welcometext__tagline {
    margin: 0;
    color: #adb2b8;
    font-size: 1.155rem; }

hr {
  margin: 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid #adb2b8; }

.postlist {
  margin-bottom: 3rem; }

article.postlistentry {
  margin-bottom: 2rem; }
  article.postlistentry header {
    position: relative;
    margin-bottom: 0.75rem; }
    article.postlistentry header a.postlistentry__title h2 {
      margin: 0;
      line-height: 1.2; }
    article.postlistentry header time {
      color: #adb2b8; }
    article.postlistentry header div.postlistentry__colorswatch {
      position: absolute;
      width: 0.625rem;
      height: 0.625rem;
      top: 0.9em;
      left: -0.8rem;
      transform: translate(-50%, -50%);
      background: #5277b7;
      border-radius: 50%; }
  article.postlistentry main :first-child {
    margin-top: 0; }
  article.postlistentry main h1, article.postlistentry main h2, article.postlistentry main h3, article.postlistentry main h4, article.postlistentry main h5, article.postlistentry main h6 {
    font-size: 1.26rem; }
