@charset "UTF-8";
html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;
  line-height: 1.5;
  font-size: 1rem;
  overflow: auto; }

body {
  position: relative;
  /* needed for height 100% to work properly */
  min-width: 760px;
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: visible;
  font-size: 1.05rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.024em;
  color: #656d77;
  background: #fefefe; }

/*
.site-padding {
	padding: 0 $wrap-sidemargin-default;
}
*/
/*
main > wrap {
	overflow: auto; // collapsing margin fix
	//overflow: visible;
	padding: 0 $wrap-sidemargin-default;
}
*/
.wrap {
  width: 720px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box; }

/** --- custom scrollbar --- */
::-webkit-scrollbar {
  width: 22px;
  height: 22px; }

::-webkit-scrollbar-track {
  border: 8px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  min-height: 16px;
  min-width: 16px;
  border: 8px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.25); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.325); }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

/** --- default element styles --- */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: #515a61; }

p, figure {
  margin: 1rem 0; }

a {
  text-decoration-skip: ink; }
  a:link {
    color: #5499f1;
    text-decoration: none; }
  a:visited {
    color: #5499f1; }
  a:hover {
    color: #84baff; }

li::marker {
  /* still unsupported everywhere :( */
  color: #adb2b8; }

/*
table {
	background: #f2f2f3;
	border: 1px solid #d9e2e8;
	border-radius: 2px;
}
*/
::selection {
  background: #f2f2f3; }

/** --- end default element styles --- */
/** common navbar */
.nav {
  height: 4rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0; }
  .nav .wrap {
    display: table; }
  .nav .nav__item-container {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap; }
    .nav .nav__item-container:first-child {
      width: 99%; }
    .nav .nav__item-container > * {
      vertical-align: initial; }
    .nav .nav__item-container:first-of-type .nav__item {
      margin-left: 1rem; }
    .nav .nav__item-container:last-of-type .nav__item {
      margin-right: 0.5rem; }
  .nav .nav__item {
    margin: 0 0.1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none; }
  .nav .nav__item--home {
    display: inline-block;
    position: relative;
    margin: 0 0.6rem;
    padding: 0;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    font-size: 0;
    user-select: none;
    background: currentColor;
    border-radius: 50%; }

/** common footer */
.footer, .footer-pusher {
  height: 9rem; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.05rem; }
  .footer .footer__column-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem; }
  .footer .footer__column {
    height: 100%; }
  .footer .footer__column--branding div {
    margin-bottom: 0.1rem;
    color: #adb2b8; }
  .footer .footer__column--branding a {
    color: #656d77;
    font-weight: bold;
    transition: color 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* easeOutQuart */ }
    .footer .footer__column--branding a:hover {
      color: #8e969f; }
  .footer .footer__column--links h2 {
    margin: 0;
    margin-bottom: 0.1rem;
    color: #656d77;
    font-size: 1.05rem; }
  .footer .footer__item a {
    color: #adb2b8;
    transition: color 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* easeOutQuart */ }
    .footer .footer__item a:hover {
      color: #818992; }

/** Inline code highlighter */
code.highlighter-rouge {
  padding: 0 0.3em;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9975rem;
  font-weight: normal;
  font-style: normal;
  tab-size: 4;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }

/** Block code highlighter */
figure.highlight, div.highlighter-rouge {
  position: relative;
  margin: 2rem 0;
  font-size: 0.9975rem;
  line-height: 1.15rem;
  font-weight: normal;
  font-style: normal;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }
  figure.highlight pre, div.highlighter-rouge pre {
    margin: 0;
    padding: 1rem;
    overflow: auto;
    font-family: 'Inconsolata', 'Consolas', monospace;
    tab-size: 4; }

.nav {
  color: #515a61; }
  .nav .nav__item {
    color: inherit;
    transition: color 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* easeOutQuart */ }
    .nav .nav__item:hover {
      color: #77838d; }

/*
// Nav colored
.nav {
	//background: darken($post-accent-color, 6.0);
	color: rgba($color-background-default, 0.9);
	
	.nav__item {
		color: inherit;
		transition: color 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		
		&:hover {
			color: rgba($color-background-default,1.0);
		}
		&:active {
			color: rgba($color-background-default,0.85)
		}
	}
}
*/
/* Colored Header */
.nav, .postheader {
  background: #fafafa; }

.postheader {
  height: 24rem; }
  .postheader .wrap {
    display: table;
    overflow: auto; }
  .postheader .posttitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .postheader h1.posttitle__title {
    margin: 0.8rem 0;
    margin-bottom: 0.5rem;
    padding: 0 5rem;
    line-height: 1.2;
    font-size: 2.8875rem;
    text-align: center; }
  .postheader span.posttitle__details {
    text-align: initial;
    color: #adb2b8;
    /*
    a {
    	text-decoration: none;
    	color: inherit;
    	transition: color 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    	
    	&:hover {
    		color: rgba($color-font-default,0.9);
    		//color: rgba($color-background-default,0.9);
    	}
    	&:active {
    		color: rgba($color-font-default,0.8);
    		//color: rgba($color-background-default,0.8);
    	}
    }
    */ }
    .postheader span.posttitle__details span {
      margin: 0 0.5rem; }

.postcontent .wrap {
  padding-bottom: 8rem;
  overflow: auto; }
  .postcontent .wrap > :first-child {
    top: 0;
    margin-top: 1.2rem; }
.postcontent p {
  /*
  // drop-caps
  &:first-child:first-letter {
  	//font-size: 3.4em;
  	font-size: 2.6em;
  	float: left;
  	line-height: 1.0;
  	margin: 0 0.3rem 0 0.1rem;
  	
  	//font-weight: 600;
  	
  	//font-family: 'as', sans-serif;
  }
  */ }
  .postcontent p:first-child:first-letter {
    font-weight: bold; }
.postcontent table {
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #d9e2e8;
  border-radius: 2px;
  border-spacing: 0;
  font-size: 0.9975rem;
  /*thead>tr,*/ }
  .postcontent table td, .postcontent table th {
    border: none;
    padding: 0.5rem 0.6rem; }
  .postcontent table tbody > tr:nth-child(odd) {
    background: #f9f9fa; }
.postcontent figure {
  margin: 2rem 0; }
  .postcontent figure img {
    width: 100%;
    height: auto;
    margin: 0; }
  .postcontent figure figcaption {
    position: relative;
    padding-left: 1em;
    text-align: center;
    color: #adb2b8;
    /*
    &:before {
    	display: inline;
    	position: absolute;
    	content: "•";
    	
    	top: 0;
    	left: 0;
    	
    	padding: 0 0.2em;
    }
    */ }
.postcontent h1 + *, .postcontent h2 + *, .postcontent h3 + *, .postcontent h4 + *, .postcontent h5 + *, .postcontent h6 + * {
  margin-top: 1rem; }
