---
---

@import '_common';
@import '_common-nav-dark';

@import '_common-welcometext';

section.headersection {
	//height: 30rem;
	height: 2rem;
}

section.projectlistsection {
	margin: 0;
	margin-bottom: 8rem;
}

article.projectlistentry {
	margin: 0;
	margin-bottom: 4rem;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	& > a {
		display: table;
		
		color: inherit;
	}
	
	img {
		display: table-cell;
		
		height: 100%;
		width: auto;
		
		vertical-align: top;
		
		border-radius: 1px;
		box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.2);
		image-rendering: pixelated;
	}
	main {
		display: table-cell;
		
		height: 100%;
		width: auto;
		
		padding-left: 1.1rem;
		vertical-align: top;
		
		h1 {
			margin: 0;
			margin-bottom: 1rem;
			
			font-size: font-rems(1.5rem);
			line-height: 1.0;
		}
		p {
			margin: 0;
		}
	}
}
