html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;
  line-height: 1.5;
  font-size: 1rem;
  /*
  // anti scrollbar layout nudge trick (https://aykevl.nl/2014/09/fix-jumping-scrollbar)
  @media screen and (min-width: $wrap-width-default + (2 * $wrap-sidemargin-default)) {
  	min-width: 100vw;
  	//overflow-x: hidden;
  }
  */ }

body {
  position: relative;
  /* needed for height 100% to work properly */
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.05rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.024em;
  color: #656d77;
  background: #fefefe; }

main {
  overflow: auto;
  /* collapsing margin fix */ }

.wrap {
  width: 720px;
  height: 100%;
  margin: 0 auto;
  padding: 0; }

/** --- custom scrollbar --- */
/*
$scrollbar-width: 6px;
$scrollbar-padding: 8px;
::-webkit-scrollbar {
	width: $scrollbar-width + ($scrollbar-padding * 2);
	height: $scrollbar-width + ($scrollbar-padding * 2);
}
::-webkit-scrollbar-track {
	border: $scrollbar-padding solid transparent; // padding
	background-clip: padding-box;
	-webkit-border-radius: 32px;
	
	background-color: rgba(0, 0, 0, 0.175);
}
::-webkit-scrollbar-thumb {
	min-height: 16px;
	min-width: 16px;
	
	border: $scrollbar-padding solid transparent; // padding
	background-clip: padding-box;
	-webkit-border-radius: 32px;
	
	background-color: rgba(0, 0, 0, 0.175);
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
*/
/** --- default element styles --- */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.4px;
  color: #515a61; }

p, figure {
  margin: 1rem 0; }

a {
  text-decoration-skip: ink; }
  a:link {
    color: #5499f1;
    text-decoration: none; }
  a:visited {
    color: #5499f1; }
  a:hover {
    color: #84baff; }

li::marker {
  /* still unsupported everywhere :( */
  color: #adb2b8; }

/*
table {
	background: #f2f2f3;
	border: 1px solid #d9e2e8;
	border-radius: 2px;
}
*/
::selection {
  background: #f2f2f3; }

/** --- end default element styles --- */
/** common navbar */
.nav {
  height: 4rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0; }
  .nav .wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box; }
  .nav .nav__item {
    margin: 0 0.1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none; }
  .nav .nav__item--home {
    margin: 0 0.6rem;
    padding: 0;
    display: inline-block;
    position: relative;
    content: "";
    margin-right: auto;
    width: 2rem;
    height: 2rem;
    font-size: 0;
    background: currentColor;
    border-radius: 50%; }

/** common footer */
.footer, .footer-pusher {
  height: 4rem; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer .wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center; }
  .footer .footer__item {
    margin: auto; }

/** Inline code highlighter */
code.highlighter-rouge {
  padding: 0 0.3em;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9975rem;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }

/** Block code highlighter */
figure.highlight, div.highlighter-rouge {
  position: relative;
  margin: 1rem 0;
  font-size: 0.9975rem;
  line-height: 1.15rem;
  background: #f4f4f5;
  border: 1px solid #d9e2e8;
  border-radius: 2px; }
  figure.highlight pre, div.highlighter-rouge pre {
    margin: 0;
    padding: 1rem;
    font-family: 'Inconsolata', monospace; }

.nav {
  color: #515a61; }
  .nav .nav__item {
    color: inherit;
    transition: color 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */ }
    .nav .nav__item:hover {
      color: #77838d; }

section.headersection {
  height: 2rem; }

section.projectlistsection {
  margin: 2rem 0; }

article.projectlistentry {
  margin: 0;
  margin-bottom: 3rem; }
  article.projectlistentry:last-child {
    margin-bottom: 0; }
  article.projectlistentry > a {
    display: table;
    color: inherit; }
  article.projectlistentry img {
    display: table-cell;
    height: 100%;
    width: auto;
    vertical-align: top;
    border-radius: 1px; }
  article.projectlistentry div {
    display: table-cell;
    height: 100%;
    width: auto;
    padding-left: 1.1rem;
    vertical-align: top; }
    article.projectlistentry div h1 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.575rem;
      line-height: 1.0; }
    article.projectlistentry div p {
      margin: 0; }
