---
---

@import '_common';

//$post-accent-color: #5277b7;
.nav {
	//background: darken($post-accent-color, 6.0);
	color: rgba($color-background-default, 0.9);
	
	.nav__item {
		color: inherit;
		transition: color 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
		
		&:hover {
			color: rgba($color-background-default,1.0);
		}
		&:active {
			color: rgba($color-background-default,0.85)
		}
	}
}

.postheader {
	height: 24rem;
	
	//background: $post-accent-color;
	color: $color-background-default;
	
	.wrap {
		display: flex;
		
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		
		overflow: auto;
	}
	
	h1.postheader__title {
		margin: 0.8rem 3rem;
		
		line-height: 1.2;
		font-size: font-rems(2.5);
		text-align: center;
		color: rgba($color-background-default,0.9);
	}
	span.postheader__details {
		color: rgba($color-background-default,0.75);
		
		a {
			text-decoration: none;
			color: inherit;
			transition: color 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
			
			&:hover {
				color: rgba($color-background-default,0.9);
			}
			&:active {
				color: rgba($color-background-default,0.8);
			}
		}
		span {
			margin: 0 0.5rem;
		}
	}
}

.postcontent {
	.wrap {
		padding-bottom: 4rem;
		overflow: auto;
		
		> :first-child {
			top: 0;
			margin-top: 1.2rem;
		}
	}
	
	p {
		/*
		&:first-child:first-letter {
			//font-size: 3.4em;
			font-size: 2.6em;
			float: left;
			line-height: 1.0;
			margin: 0 0.3rem 0 0.1rem;
			
			//font-weight: 600;
			
			//font-family: 'as', sans-serif;
		}
		*/
	}
	
	figure {
		margin: 2rem 0;
		
		img {
			width: 100%;
			height: auto;
			margin: 0;
		}
		
		/*
		a > img {
			cursor: hand;
		}
		*/
		
		figcaption {
			position: relative;
			
			padding-left: 1em;
			
			text-align: center;
			color: $color-font-lighter;
			
			/*
			&:before {
				display: inline;
				position: absolute;
				content: "•";
				
				top: 0;
				left: 0;
				
				padding: 0 0.2em;
			}
			*/
		}
	}
}

.footer {
	
}
