<footer class="footer">
	<div class="wrap">
		<!--
		<div class="footer__branding-container">
			<div>
				<span>Built by <a href="/about">Jan Katzer.</a></span>
			</div>
			<div>
				<span>Powered by <a href="https://pages.github.com">GitHub Pages.</a></span>
			</div>
		</div>
		-->
		<div class="footer__column-container">
			<div class="footer__column  footer__column--branding">
				<div><span>Built by <a href="/about">Jan Katzer</a></span></div>
				<div><span>Powered by <a href="https://pages.github.com">GitHub Pages</a></span></div>
			</div>
			<div class="footer__column  footer__column--links">
				<h2>Navigation</h2>
				<div class="footer__item"><a href="/">Home</a></div>
				<div class="footer__item"><a href="/blog/">Blog</a></div>
				<div class="footer__item"><a href="/projects/">Projects</a></div>
			</div>
			<div class="footer__column  footer__column--links">
				<h2>Cool Stuff</h2>
				<div class="footer__item"><a href="/projects/folklore/">Folklore</a></div>
				<div class="footer__item"><a href="/projects/nightsky/">Nightsky</a></div>
			</div>
			<div class="footer__column  footer__column--links">
				<h2>About</h2>
				<div class="footer__item"><a href="/about/">About Me</a></div>
				<div class="footer__item"><a href="https://github.com/coffeenotfound">@coffeenotfound</a></div>
			</div>
		</div>
	</div>
</footer>