<header class="welcometext">
	<div class="wrap">
		<div class="welcometext__container">
			<h1><a href="https://bitangent.net/">
				<!--<span class="welcometext-url__protocol">https:</span><span class="welcometext-url__delimiter">//</span><span class="welcometext-url__domain">bitangent.net</span><span class="welcometext-url__delimiter">/</span>-->
				<span class="welcometext__minimalistname">bitangent.net</span>
			</a></h1>
			<h2 class="welcometext__tagline">Like baking just completely different.</h2>
			<!-- "Picking Jazz and baking cakes." -->
		</div>
	</div>
</header>