<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title | smartify }}</title>
	
	{% include _common-font-includes.html %}
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/projectpages/nightsky.css" rel="stylesheet">
</head>

<body>
	{% include _common-nav.html %}
	
	<header class="postheader">
		<div class="wrap">
			<h1 class="postheader__title">{{ page.title | smartify }}</h1>
			<span class="postheader__details">
				<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %e. %B %Y" }}</time><span>·</span><a href="/about/">Jan Katzer</a>
			</span>
		</div>
	</header>
	
	<main class="postcontent">
		<div class="wrap">
			{{ content | smartify }}
		</div>
		
		<div class="footer-pusher"></div>
	</main>
	
	{% include _common-footer.html %}
</body>
</html>
