
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

// default: Lato
$font-serif: 'Lato';
$font-serif-italic: 'Merriweather';
//$font-serif: 'Merriweather';
//$font-serif: 'Open Sans';
//$font-serif: 'Source Sans Pro';
//$font-serif: 'Source Serif Pro';
//$font-serif: 'PT Sans';
//$font-serif: 'PT Serif';
//$font-serif: 'Lora';

// default: Open Sans (now Roboto)
//$font-sans-serif: 'Open Sans';
$font-sans-serif: 'Roboto';
//$font-sans-serif: 'Source Sans Pro';

$color-accent: #e74c3c;
//$color-dark: #404040;
$color-dark: #484848;
//$color-darker: #303030;
$color-darker: #383838;
$color-lighter: #c8c8c8;
//$color-lighter: #cacaca;
$color-section-lowlight: rgba(0,0,0,0.025);

$curve-cubic-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);

$base-wrap-sidemargin: 32px;
$base-wrap-width: 760px;

$base-line-height: 1.45;
//$base-layout-size: 1.2rem;
//$base-font-size: 1.2rem;
$base-layout-size: 1.1875rem; // layout size = 19px
//$base-font-size: 1.05263rem; // font size = 19.99997px
$base-font-size: 1.15789rem;

@function vertical-rhythm($_units) {
	@return strip-unit($base-line-height * $base-font-size * strip-unit($_units)) + rem
}
@function vertical-rhythm-rel($_units) {
	@return strip-unit($base-line-height * $base-font-size * strip-unit($_units)) + em
}


// IMPORT ONCE
$IMPORTED_BASE: 0 !default;
@if $IMPORTED_BASE == 0 {
$IMPORTED_BASE: 1;


//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif|Lora:400,400i,700|Merriweather:400,600|Source+Serif+Pro:400|Lato:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Lato:400,400i,700,900');

// base layout
html {
	position: relative;
	
	overflow: auto;
	
	height: 100%;
	min-width: $base-wrap-width + (2 * $base-wrap-sidemargin);
	width: 100%;
	
	//font-size: $base-font-size;
	font-size: $base-layout-size;
	line-height: $base-line-height;
	font-family: $font-serif, serif;
	color: $color-dark;
	
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	font-feature-settings: "kern", "liga", "clig", "calt";
	
	// anti scrollbar layout nudge trick (https://aykevl.nl/2014/09/fix-jumping-scrollbar)
	@media screen and (min-width: $base-wrap-width + (2 * $base-wrap-sidemargin)) {
		width: 100vw;
		overflow-x: hidden;
	}
}
body {
	position: relative;
	
	overflow: hidden;
	
	min-height: 100%;
	width: 100%;
	
	font-size: $base-font-size;
	
	//background: #FCFCFC;
	background: #FFFFFF;
}
.wrap {
	position: relative;
	width: $base-wrap-width;
	min-width: $base-wrap-width;
	margin: 0 auto;
	
	overflow: hidden; // prevent margin collapsing
}

// text selection
::selection {
	background: $color-darker;
	color: #FCFCFC;
}

// scrollbars
$scrollbar-width: 6px;
$scrollbar-padding: 8px;
::-webkit-scrollbar {
	width: $scrollbar-width + ($scrollbar-padding * 2);
	height: $scrollbar-width + ($scrollbar-padding * 2);
}
::-webkit-scrollbar-track {
	border: $scrollbar-padding solid transparent; // padding
	background-clip: padding-box;
	-webkit-border-radius: 32px;
	
	background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
	min-height: 16px;
	min-width: 16px;
	
	border: $scrollbar-padding solid transparent; // padding
	background-clip: padding-box;
	-webkit-border-radius: 32px;
	
	background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

// base element styles
h1,h2,h3,h4,h5,h6 {
	font-family: $font-sans-serif, sans-serif;
}

img.emoji {
	vertical-align: baseline;
}

}