.welcometext {
	height: 26rem;
	margin: 0;
	
	line-height: 1.1;
	overflow: visible;
	
	text-align: center;
	
	.wrap {
		display: table;
	}
	
	div.welcometext__container {
		display: table-cell;
		vertical-align: middle;
		
		padding-bottom: 1rem;
	}
	
	h1 {
		margin: 0;
		margin-bottom: 0.5rem;
		
		font-size: font-rems(3.0);
		color: $color-font-lighter;
		
		a {
			color: inherit;
		}
		
		span.welcometext__minimalistname {
			color: $color-font-darker;
		}
		
		/*
		span.welcometext-url__protocol {
			color: #3fa961;
			//color: #0B8043;
		}
		span.welcometext-url__domain {
			color: $color-font-darker;
		}
		span.welcometext-url__delimiter {
			color: inherit;
		}
		*/
	}
	
	h2.welcometext__tagline {
		margin: 0;
		
		color: $color-font-lighter;
		font-size: font-rems(1.1);
		font-weight: inherit;
		letter-spacing: inherit;
	}
}
