
.nav {
	color: $color-font-darker;
	
	.nav__item {
		color: inherit;
		
		transition: color 0.05s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
		&:hover {
			color: lighten($color-font-darker, 16.0);
		}
		&:active {
			
		}
	}
}
