<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} :: coffeenotfound.github.io</title>
	
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/about.css" rel="stylesheet">
	
	<meta name="author" content="{{ page.author }}">
	<meta name="description" content="{{ page.excerpt | strip_html | strip}}">
	<meta name="keywords" content="{{ page.tags | join: ', '}}">
	<meta name="date" content="{{ page.date | date_to_xmlschema }}">
	
	<!--
	<meta property="og:title" content="{{ page.og-title }}">
	<meta property="og:image" content="{{ page.og-image }}">
	<meta property="og:description" content="{{ page.og-description }}">
	-->
</head>

<body>
	<nav class="nav">
		<div class="wrap">
			<a class="nav__link  nav__link--home" href="/" title="Index"><img src=https://placeholdit.imgix.net/~text?txtsize=8&txt=32%C3%9732&w=32&h=32&fm=png alt="Home"></a>
			<a class="nav__link" href="/" title="Projects">Projects</a>
			<a class="nav__link" href="/" title="About">About</a>
		</div>
	</nav>
	
	<main>
		<div class="wrap">
			{{ content }}
		</div>
	</main>
	
	<footer class="footer">
		<div class="wrap">
			<a class="footer__link" href="About">About</a>
		</div>
	</footer>
</body>
</html>