<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - Page {{ paginator.page }} # coffeenotfound.github.io</title>
	
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/blog.css" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/qurl.js"></script>
	<script src="/js/lunr.min.js"></script>
	<script src="/js/search.js"></script>
	
	<meta name="author" content="{{ page.author | smartify }}">
	<meta name="description" content="{{ page.excerpt | strip_html | strip | smartify }}">
	<meta name="keywords" content="{{ page.tags | join: ', ' }}">
	<meta name="date" content="{{ site.time | date_to_xmlschema }}">
</head>

<body>
	{% include shared-nav.html %}
	
	<header>
		<div class="wrap">
			<h2>Here be header!</h2>
			
			<h3>(Random cat gif)</h3>
			{% giphy cat %}
			
			{% assign postnumstart = paginator.page | minus: 1 | times: paginator.per_page | plus: 1 %}
			{% assign postnumthispage = paginator.posts | size %}
			{% assign postnumend = postnumstart | minus: 1 | plus: postnumthispage %}
			<h2>Page {{ paginator.page }} of {{ paginator.total_pages }} (Posts {{ postnumstart }} thru {{ postnumend }})</h2>
		</div>
	</header>
	
	<!-- postlist header tabs and search bar -->
	<section class="postlistheader">
		<div class="wrap">
			<h2>
				<a class="postlistheader__results" href="javascript:alert('lol')">Search Results</a>
				<a class="postlistheader__latest" href="javascript:alert('lol')">Latest Posts</a>
			</h2>
			<form class="searchform" action="/blog/" method="get">
				<input class="searchform__searchbox" id="searchbox" type="search" name="search" autocomplete="off" placeholder="Search">
				<input class="searchform__submit" type="submit" value="Search">
			</form>
		</div>
	</section>
	
	<!-- post list -->
	<section class="postlist">
		<div class="wrap">
			<ol id="searchresults">
				{% for post in paginator.posts %}
				<article class="postlist-post">
						<header class="postlist-post__title">
							<h3><a href="{{ post.url }}">{{ post.title | smartify }}</a></h3>
							<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %b %d, %y"}}</time>
							<a class="postlist-post__more" title="More" href="{{ post.url }}">{{ "..." | smartify }}</a>
						</header>
						<main class="postlist-post__content">
							{{ post.excerpt | smartify }}
						</main>
				</article>
				{% endfor %}
			</ol>
		</div>
	</section>
	
	<section class="paginationtable">
		<div class="wrap">
			<!-- prev link -->
			<a {% if paginator.previous_page %}
					href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
					class="paginationtable__nextprev  paginationtable__nextprev--prev"
				{% else %}
					class="paginationtable__nextprev  paginationtable__nextprev--prev  paginationtable__nextprev--disabled"
				{% endif %}>« Newer Posts</a>
			
			<!-- bullet list -->
			<ol>
				{% for bulletpage in (1..paginator.total_pages) %}
					<li class="paginationtable__bullet  {% if bulletpage == paginator.page %}paginationtable__bullet--current{% endif %}">
						<a {% unless bulletpage == paginator.page %}
								href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', bulletpage | replace: '/1', '/' }}"
							{% endunless %}
							title="Page {{ bulletpage }}">{{ bulletpage }}</a>
					</li>
				{% endfor %}
			</ol>
			
			<!-- next link -->
			<a {% if paginator.next_page %}
					href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
					class="paginationtable__nextprev  paginationtable__nextprev--next"
				{% else %}
					class="paginationtable__nextprev  paginationtable__nextprev--next  paginationtable__nextprev--disabled"
				{% endif %}>Older Posts »</a>
		</div>
	</section>
	
	<!-- footer -->
	{% include shared-footer.html %}
</body>
</html>