<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title }}</title>
	
	{% include _common-font-includes.html %}
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
</head>

<body>
	{% include _common-nav.html %}
	
	<main>
		<div class="wrap site-padding">
			<section class="welcometext">
				<div>
					<h1><a href="https://bitangent.net/">
						<span class="welcometext-url__protocol">https:</span><span class="welcometext-url__delimiter">//</span><span class="welcometext-url__domain">bitangent.net</span><span class="welcometext-url__delimiter">/</span>
					</a></h1>
					<p class="welcometext__tagline">Like baking just completely different.</p>
				</div>
				<!--{{ content | smartify }}-->
			</section>
			
			<section class="postlist">
				{% for post in site.posts %}
				<article class="postlistentry">
					<header>
						<a class="postlistentry__title" href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
						<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A, %e. %B %Y" }}</time>
						<!--<div class="postlistentry__colorswatch"></div>-->
					</header>
					
					<main>
						{% if post.content contains site.excerpt_separator %}
							{{ post.excerpt | smartify }}
						{% else %}
							{% assign temp_splitexcerpt = post.content | split:'</p>' %}
							{{ temp_splitexcerpt[0] | smartify | append:'</p>' }}
						{% endif %}
					</main>
				</article>
				{% endfor %}
			</section>
			
			<div class="footer-pusher"></div>
		</div>
	</main>
	
	{% include _common-footer.html %}
</body>
</html>
