<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog » {{ page.title }} :: coffeenotfound.github.io</title>
	
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/post.css" rel="stylesheet">
	
	<meta name="author" content="{{ page.author | smartify }}">
	<meta name="description" content="{{ page.excerpt | strip_html | strip | smartify }}">
	<meta name="keywords" content="{{ page.tags | join: ', ' }}">
	<meta name="date" content="{{ page.date | date_to_xmlschema }}">
	
	<!-- OpenGraphs (Twitter Cards) SEO
	<meta property="og:title" content="{{ page.og-title }}">
	<meta property="og:image" content="{{ page.og-image }}">
	<meta property="og:description" content="{{ page.og-description }}">
	-->
</head>

<body>
	<!-- nav -->
	{% include shared-nav.html %}
	
	<!-- post -->
	<article class="post">
		<!-- post header -->
		<header>
			<div class="wrap">
				<h1>{{ page.title | smartify }}</h1>
				<h2>
					<a href="/about" class="post-author">{{ page.author }}</a>
					<!--<time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{% capture ordinalday %}{{ page.date | date: "%-d" }}{% endcapture %}{% include ordinalday.html day = ordinalday %}{{ page.date | date: " %b '%y, %a" }}</time>-->
					<time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d" | ordinal: "super"}}{{ page.date | date: " %b &lsquo;%y, %a" }}</time>
				</h2>
			</div>
		</header>
		
		<!-- post content -->
		<main>
			<div class="wrap">
				{{ content | smartify }}
			</div>
		</main>
	</article>
	
	<!-- footer -->
	{% include shared-footer.html %}
</body>
</html>