<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title | smartify }}</title>
	
	{% include _common-font-includes.html %}
	<link href="/css/normalize.css" rel="stylesheet">
	<!--<link href="/css/rouge-stylesheets/zenburn.css" rel="stylesheet">-->
	<link href="/css/rouge-stylesheets/syntax.css" rel="stylesheet">
	<link href="/css/post.css" rel="stylesheet">
	<!--<link href="/css/post-mobile.css" media="all and (max-device-width: 480px)" rel="stylesheet">-->
	
	<!-- per post accent color -->
	<!--
	<style>
		@viewport {
			user-zoom: 0;
		}
		
		.postheader {
			background: {% if page.theme_postaccentcolor_primary %}{{ page.theme_postaccentcolor_primary }}{% else %}#5277b7{% endif %};
		}
		.nav {
			background: {% if page.theme_postaccentcolor_secondary %}{{ page.theme_postaccentcolor_secondary }}{% else %}#4568a6{% endif %};
		}
	</style>
	-->
</head>

<body>
	{% include _common-nav.html %}
	
	<header class="postheader">
		<div class="wrap site-padding">
			<div class="posttitle">
				<h1 class="posttitle__title">{{ page.title | smartify }}</h1>
				<span class="posttitle__details">
					<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %e. %B %Y" }}</time><span>·</span><a href="{{ page.author-url }}">{{ page.author | smartify}}</a>
				</span>
			<div>
		</div>
	</header>
	
	<main class="postcontent">
		<div class="wrap site-padding">
			{{ content | smartify }}
		</div>
		
		<div class="footer-pusher"></div>
	</main>
	
	{% include _common-footer.html %}
</body>
</html>
