<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title | smartify }}</title>
	
	{% include _common-font-includes.html %}
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/projectcatalog.css" rel="stylesheet">
</head>

<body>
	{% include _common-nav.html %}
	
	{% include _common-welcometext.html %}
	
	<main class="maincontent">
		<div class="wrap">
			<section class="projectlistsection">
				{% for project in site.projectpages %}
				<article class="projectlistentry">
				<a href="{{ project.url }}">
					<img src="{{ project.preview-image-source }}"></img>
					<main>
						<h1>{{ project.title | smartify }}</h1>
						<p>{{ project.short-description | smartify }}</p>
					</main>
				</a>
				</article>
				{% endfor %}
			</section>
			
			<div class="footer-pusher"></div>
		</div>
	</main>
	
	{% include _common-footer.html %}
</body>
</html>
