<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title | smartify }}</title>
	
	{% include _common-font-includes.html %}
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/underconstruction.css" rel="stylesheet">
</head>

<body>
	{% include _common-nav.html %}
	
	<main>
	<div class="wrap">
		<div class="messagecontainer">
			<div class="message">
				<div class="message__row  message__row--first">
					<span>Sorry, this page is</span>
				</div>
				<div class="message__row  message__row--second">
					<span>Under Construction</span>
				</div>
				<div class="message__row  message__row--third">
					<a class="message__backlink" href="javascript:history.back();">Take me Back, please!</a>
				</div>
			</div>
		</div>
		
		<div class="footer-pusher"></div>
	</div>
	</main>
	
	{% include _common-footer.html %}
</body>
</html>
